{% extends "RomanLegionGameBundle::layout.html.twig" %}

{% block content_header '' %}

{% block content %}
<br />
<div class="container">
    <h1>Add Property to Market</h1>
    {{ form(createPropertyForm) }}
</div>
{% endblock %}
