{% extends "RomanLegionGameBundle::layout.html.twig" %}

{% block content_header '' %}

{% block content %}
<br />
<div class="container">
    <h1>Create Account</h1>
    {{ form(createAccountForm) }}
</div>
{% endblock %}
